[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
flake8-django = "*"
python-decouple = "*"
autopep8 = "*"
django-import-export = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
pillow = "*"
psycopg2 = "*"
django-ckeditor = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.5"
